// variable
$main_font_color: #FCFCFC;
$self_border_color: #e6e6e6;
$content_background: #2a2a2a;
$transparent_black: rgba(0,0,0,0.4);
$transparent_white: rgba(255,255,255,0.4);
$gallaly_background: #F7F7F7;
$photos_title_color: #4a4a4a;

// mixin
@mixin centeral-u-margin {
  margin: 0 auto;
}

@mixin centeral-u-text-align {
  text-align: center;
}

@mixin centeral-u-position {
  position: absolute;
  left: 0;
  right: 0;
}

// font-face
@font-face {
  font-family: 'ubuntu-monospace';
  src: url(../fonts/UbuntuMono-R.ttf);
  font-weight: normal;
}

// base styles
body {
  margin: 0;
  font-family: 'ubuntu-monospace', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;;
  background: $content_background;
}

* {
  color: $main_font_color;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 1.5rem;
}

div {
  width: 100% ;
  height: 187.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#content1, #content2, #content3, #content4 {
  height: 187.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

// specific styles
#content1 {
  z-index: 99;
  background-image: url(../img/tokyo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content2 {
  z-index: 98;
  background-image: url(../img/hiroshima.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content3 {
  z-index: 97;
  background-image: url(../img/lamp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#content4 {
  z-index: 95;
  background-image: url(../img/tower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.introduction-title {
  @include centeral-u-text-align;
  width: 45%;
  height: 10rem;
  position: relative;
  top: 25rem;
  h3 {
    margin-top: 1rem;
  }
}

.self-introduction {
  width: 60rem;
  height: 35rem;
  box-shadow: 3px 3px 3px $transparent_black;
  background-color: $content_background;
  top: 12%;
}

.self-image {
  float: left;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-image: url(../img/self.jpg);
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: left center;
  margin: 8rem 0 0 4.5rem;
  border: 6px solid $self_border_color;
}

.self-description {
  float: left;
  width: 30rem;
  height: 20rem;
  top: 26%;
  left: 45%;
  h3 {
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.7;
    letter-spacing: 1.6px;
  }
}

.skills {
  width: 45%;
  height: 80%;
  margin-top: 4rem;
  left: 45%;
  h2 {
    margin-left: .9rem;
  }
  .skill {
    height: 6rem;
    padding: 1rem;
    .skill-image {
      float: right;
      margin-top: 1rem;
    }
    .logo-css {
      margin-top: 0;
    }
    .skill-bar {
      margin-top: 2.4rem;
      height: 1.5rem;
    }
  }
}

#intern_div {
  width: 100vw;
  height: 100vh;
  z-index: 96;
  background: $content_background;
  h2 {
    position: relative;
    top: 2rem;
    left: 11rem;
  }
  .intern-contents {
    @include centeral-u-margin;
    width: 75%;
    height: 40rem;
    margin-top: 4rem;
    .intern-content {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      background-blend-mode: overlay;

    }
    .sarah {
      background-image: url(../img/sarah.png);
      background-color: $transparent_white;
    }
    .wantedly {
      background-image: url(../img/wantedly.png);
      background-color: $transparent_black;
    }
    .lifeistech {
      background-image: url(../img/lifeistech.png);
      background-color: $transparent_black;
    }
    .goodpatch {
      background-image: url(../img/goodpatch.png);
      background-color: $transparent_white;
    }
  }
}

#takes_photos {
  width: 100vw;
  height: auto;
  z-index: 95;
  background: $gallaly_background;
  padding: 2rem;
  h2 {
    color: $photos_title_color;
    padding: 2rem 0 1rem 4.4rem;
  }
  .photos {
    @include centeral-u-margin;
    width: 90%;
    height: auto;
    .photo {
      width: 25%;
      height: 13.4rem;
      float: left;
      img {
        float: left;
      }
    }
  }
}

footer {
  @include centeral-u-text-align;
  @include centeral-u-margin;
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  width: 40%;
  height: auto;
  a, img {
    display: inline-block;
  }
  p {
    margin-bottom: 1rem;
  }
}