// variable
$main_font_color: #FCFCFC;

// mixin
@mixin centeral-u-margin {
  margin: 0 auto;
}

@mixin centeral-u-text-align {
  text-align: center;
}

@mixin centeral-u-position {
  position: absolute;
  left: 0;
  right: 0;
}

// font-face
@font-face {
  font-family: 'ubuntu-monospace';
  src: url(../fonts/UbuntuMono-R.ttf);
  font-weight: normal;
}

// base styles
body {
  margin: 0;
  font-family: 'ubuntu-monospace', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;;
}

* {
  color: $main_font_color;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 1.5rem;
}

div {
  width: 100% ;
  height: 187.5rem;
}

#content1, #content2, #content3, #content4 {
  height: 187.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

// specific styles
#content1 {
  z-index: 99;
  background-image: url(../img/tokyo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content2 {
  z-index: 98;
  background-image: url(../img/hiroshima.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content3 {
  z-index: 97;
  background-image: url(../img/tower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content4 {
  z-index: 95;
  background-image: url(../img/lamp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.introduction-title {
  @include centeral-u-text-align;
  width: 45%;
  height: 10rem;
  position: relative;
  top: 25rem;
  h3 {
    margin-top: 1rem;
  }
}